@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Set all elements to inherit from body */
}

html {
  /* font-size: 100% = 16px  |  10/16 = .625 */
  font-size: 62.5%; /* Set the default font size to easy number to divide by (px/root size = rem) */
  font-family: 'Josefin Sans', sans-serif;

  background: url(../images/bg.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  box-sizing: border-box;
}

main {
  margin-top: 40vh;
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
}

h1 {
  font-size: 6rem;
  grid-column: 2 / 3;
}

p {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  grid-column: 2 / 3;
  max-width: 80rem;
  color: #FFF;
  letter-spacing: .1rem;
  line-height: 2.5rem;

  display: block;
  background-color: rgb(31, 31, 31);
  padding: 2rem;
  border-radius: 1.5rem;
}

.nav {
  list-style-type: none;

  display: flex;
  margin-top: 2rem;

  grid-column: 2 / 3;
  justify-content: start; 

  &__link {
    margin-left: 2rem;

    &-first {
      margin-left: 0;
    }
  }


  &__item {

    font-size: 3rem;
    // margin-left: 2rem;

    &-first {
      margin-left: 0;
    }

    &-btn {
      display: block;
      background-color: blue;
      color: white;
    }
  }
}

.icon {
  fill: rgba(43, 43, 43, 0.342);
  height: 4rem;
  width: 4rem;

  transition: all .3s;

  &:hover {
    fill: rgba(43, 43, 43, 0.425);

    transform: translateY(-.2rem);
  }
}