/* Base */
$primary-color: #256EFF;

/* Background and Panels */
$hero-bg-color: #FFF5F0;
$primary-bg-color: #256EFF;
$primary-bg-color-2: #4E8AFF;
$secondary-bg-color: #F5CB91;

/* Fonts */
$primary-font-color: #256EFF;
$primary-font-color-h: #1B5DE2;
$secondary-font-color: #FFF;